
<div>
    Counter:
    <span id='counter'> </span>
</div>

<button id='inc'>Increment</button>
<button id='dec'>Decrement</button>
<button id='und'>Undefined</button>

<script src="https://cdnjs.cloudflare.com/ajax/libs/redux/3.6.0/redux.min.js" ></script>
<script src="reducer.js"></script>
<script src="store.js"></script>
<script src="script.js"></script>